/* Navbar */
nav.navbar .navbar-brand {
    min-width: 93px;
    min-height: 30px;
    background-image: url("/img/logo/normal.png"), url("/img/logo/darker.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

nav.navbar.top-nav-collapse .navbar-brand {
    min-width: 93px;
    min-height: 30px;
    background-image: url("/img/logo/darker.png"), url("/img/logo/normal.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

nav.navbar .dropdown-menu .dropdown-item i {
    min-width: 20px;
}

nav.navbar .dropdown-menu .dropdown-item.text-danger:hover {
    color: #ffffff !important;
    background-color: #dc3545 !important;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px !important;
    background: #ffffff !important;
}

::-webkit-scrollbar-track {
    background-color: #ffffff !important;
    border-radius: 1rem !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
}

::-webkit-scrollbar-thumb {
    /* background-color: #651fff !important; */
    background-image: -webkit-gradient(linear, left top, right top, from(#7c4dff), to(#6200ea)) !important;
    background-image: -webkit-linear-gradient(left, #7c4dff 0%, #6200ea 100%) !important;
    background-image: linear-gradient(to right, #7c4dff 0%, #6200ea 100%) !important;
    border: 2px solid #d4d4d4 !important;
    border-radius: 1rem !important;
}

::-webkit-scrollbar-button {
    display: none !important;
}

/* Home */

main {
    padding-top: 70px;
    padding-bottom: 10px;
}

section.home-hero .carousel-caption {
    bottom: 0;
    height: 100%;
}

.register #confirmPW {
    display: none;
}

/*Auth*/

.register .tab-content {
    max-width: 766px;
    margin: 0 auto;
    opacity: 0.93;
}

.register .nav {
    max-width: 766px;
}

/*File Upload*/

.files-upload {
    min-height: 500px;
}

.files-upload > input[type="file"] {
    display: none;
}

.files-upload > .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 500px;
    max-height: 100%;
    padding: 5px 10px;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
}

.files-upload > .wrapper > .card-text {
    z-index: 2;
    color: #ffffff;
    position: relative;
    top: 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.files-upload > .wrapper > .preview {
    /*display: none;*/
    position: absolute;
    z-index: 1;
    background-color: #fff;
    padding: 3px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
}

.files-upload > .wrapper > button.remove {
    /*display: none;*/
    position: absolute;
    opacity: 0;
    z-index: 7;
    top: 10px;
    right: 10px;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.files-upload > .wrapper.has-preview > button.remove {
    display: block;
}

.files-upload > .wrapper:hover > button.remove {
    opacity: 1;
}

.files-upload > .wrapper > .preview > img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: border-color .15s linear;
    -o-transition: border-color .15s linear;
    transition: border-color .15s linear;
    -o-object-fit: cover;
    object-fit: cover;
}

.files-upload > .wrapper > .preview > .renderer > i {
    font-size: 80px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    color: #ffffff;
}

.files-upload > .wrapper > .preview > .renderer > i > span.extension {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -.03em;
    font-size: 1rem;
    color: #651fff;
    width: 42px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.files-upload > .wrapper > .preview > .infos {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.files-upload > .wrapper:hover > .preview > .infos {
    opacity: 1;
}

.files-upload > .wrapper > .preview > .infos > .infos-inner {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -40%);
    -ms-transform: translate(0, -40%);
    transform: translate(0, -40%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    padding: 0 20px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.files-upload > .wrapper:hover > .preview > .infos > .infos-inner {
    margin-top: -5px;
}

.files-upload > .wrapper > .preview > .infos > .infos-inner > p {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
}

.files-upload > .wrapper > .preview > .infos > .infos-inner > p.message {
    margin-top: 15px;
    padding-top: 15px;
    font-size: 12px;
    position: relative;
    opacity: .5;
}

.files-upload > .wrapper > .preview > .infos > .infos-inner > p.message::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: #fff;
    width: 30px;
    height: 2px;
}

/* Edit Profile */

.modal-dialog-banner {
    max-width: 90vw;
}

.files-upload-circle,
.file-upload-circle {
    /* min-height: 0px; */
    /* height:100%; */
    width:100%;

}

.edit-profile .jarallax {
    min-height: 300px
}

.edit-profile .testimonial-card .avatar > img {
    width: 100%;
    /* height: 100%; */
    /* clip: rect(0px,0px,200px,0px); */

    /* width: 120px;
    height: 120px; */
    /* border: 1px solid red; */
    overflow: hidden;
}

.object-fit-img{
    object-fit: cover;
}

.profile .classic-tabs .nav li a,
.submit-projects .classic-tabs .nav li a,
.view-notification .classic-tabs .nav li a{
    display: block;
    padding: 20px 24px;
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(92, 92, 92, 0.7);
    text-align: center;
    border-radius: 0;
    font-weight: 500;
}

.profile .classic-tabs .nav li a:not(.active),
.submit-projects .classic-tabs .nav li a:not(.active),
.view-notification .classic-tabs .nav li a:not(.active) {
    margin-bottom: 3px
}

.profile .classic-tabs .nav li a.active,
.submit-projects .classic-tabs .nav li a.active,
.view-notification .classic-tabs .nav li a.active {
    border-bottom: 3px solid;
    color: #000;
}

.profile .portoflio-img-sm {
    /* width: 32%; */
    height: 30vh;
}

.profile .portoflio-img {
    width: 49%;
    height: 40vh;
}

.profile .portoflio-img-lg {
    width: 99%;
    height: 80vh;
}

.profile-modal .modal-dialog-project {
    max-width: 90vw;
}

/* Submit Projects */

section.submit-projects .files-upload,
section.submit-projects .file-upload {
    min-height: 100px;
}

section.submit-projects .files-upload > .wrapper,
section.submit-projects .file-upload > .wrapper{
    min-height: 200px;
    min-width: 400px;
}

section.submit-projects .files-upload>.wrapper>.card-text,
section.submit-projects .file-upload>.wrapper>.card-text {
    color: #ffffff;
    position: relative;
    top: 60px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

section.submit-projects .file-upload > .wrapper > .preview {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    padding: 5px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    padding: 0;
}

[id^="confirmDelete"]{
    z-index: 1070;
}

/* Edit Profile */

.modal-dialog-banner {
    max-width: 90vw;
}

.files-upload-circle,
.file-upload-circle {
    /* min-height: 0px; */
    /* height:100%; */
    width:100%;

}

