{% extends 'layouts/base.html' %}
{% block body %}

<section class="requests">
    <div class="row">
        <div class="col-12 col-md-9 order-1 order-md-0">
            <div class="card card-cascade narrower">
                <div
                    class="view view-cascade primary-light-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center text-center">
                    <span class="white-text mx-3">Requests</span>
                </div>

                <div class="card-body">
                    <div class="table-responsive table-hover w-100" style="padding: 0 15px;">
                        <table id="requests-table" class="table table-striped text-center">
                            <thead class="deep-purple accent-3 white-text">
                                <tr>
                                    <th id="provider" class="th-sm rounded-top-left">Service provider</th>
                                    <th id="date" class="th-sm">Date Requested</th>
                                    <th id="service" class="th-sm">Service Name</th>
                                    <th id="payment" class="th-sm">Payment Amount</th>
                                    <th id="remarks" class="th-sm">Remarks</th>
                                    <th id="action" class="th-sm rounded-top-right">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% if jobs %}
                                {% for job in jobs %}
                                <tr class="animated faster">
                                    <td headers="provider" class="align-middle">
                                        <a href="/user/view/{{job.uid}}">{{job.uname}}</a>
                                    </td>
                                    <td headers="date" class="align-middle">{{job.date}}</td>
                                    <td headers="service" class="align-middle">{{job.name}}</td>
                                    <td headers="payment" class="align-middle">${{job.salary}}</td>
                                    <td headers="remarks" class="align-middle">{{job.remarks}}</td>
                                    <td headers="action" class="align-middle">
                                        {% if job.status == "accepted" %}
                                        <a href="/service/payment/{{job.sid}}/{{job.id}}"
                                            class="btn btn-sm btn-success material-tooltip-md" data-tooltip="tooltip"
                                            data-placement="top" title="Send payment">
                                            Send payment<i class="far fas-dollar-sign ml-2"></i></a>
                                        {% endif %}
                                        {% if job.status == "unaccepted" %}
                                        <a href="/job/delete/{{job.id}}" class="btn btn-sm btn-danger material-tooltip-md"
                                            data-tooltip="tooltip" data-placement="top" title="Cancel request">
                                            Cancel request<i class="far fa-times ml-2"></i>
                                        </a>
                                        {% endif %}
                                        {% if job.status == "paid" %}
                                        Awaiting completion of request
                                        {% endif %}
                                        {% if job.status == "done" %}
                                        Request completed
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                    {% if jobs %}
                    <p class="text-center grey-text small font-weight-bold mb-0">End of contents</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 my-4 my-md-0 order-0 order-md-1">
            <div class="card card-cascade narrower">
                <div
                    class="view view-cascade primary-light-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center text-center">
                    <span class="white-text mx-3">Action</span>
                </div>

                <div class="card-body">
                    <div class="md-form md-outline my-0">
                        <input id="action-search-input" class="form-control" type="text" name="search">
                        <label for="action-search-input">Search Request</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}