<nav class="navbar navbar-expand-md navbar-dark z-depth-3 scrolling-navbar fixed-top"
     style="padding-left: 12px 1rem !important;">
    <a class="navbar-brand" href=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
        <i class="far fa-bars"></i>
    </button>
    <div id="nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link rounded" href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded" href="">Marketplace</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-2 d-none d-md-block">
                <a class="nav-link rounded" href="">
                    <i class="far fa-bell"></i><span class=""></span>
                </a>
            </li>
            <li class="nav-item dropdown my-auto d-none d-md-block">
                <a class="nav-link dropdown-toggle m-0 z-depth-1-half" data-toggle="dropdown">
                    <img src="" class="deep-purple lighten-5 z-depth-1-half avatar"/>

                    <i class="far fa-user animated faster"></i>

                </a>

                <div class="dropdown-menu dropdown-menu-right mt-1">
                    <a class="dropdown-item" href="">
                        <i class="far fa-id-card mr-1"></i>My Profile
                    </a>
                    <a class="dropdown-item" href="">
                        <i class="far fa-folder mr-1"></i>Files Management
                    </a>
                    <a class="dropdown-item" href="">
                        <i class="far fa-user-tie mr-1"></i>Services Management
                    </a>

                    <a class="dropdown-item" href="">
                        <i class="far fa-briefcase mr-1"></i>Jobs Management
                    </a>
                    <a class="dropdown-item" href="">
                        <i class="far fa-money-check mr-1"></i>Service Requests Management
                    </a>
                    <a class="dropdown-item" href="">
                        <i class="far fa-file-invoice-dollar mr-1"></i> Transaction History
                    </a>
                    <hr class="mt-0 mb-3">
                    <a class="dropdown-item text-danger" href="">
                        <i class="far fa-power-off mr-1"></i>Sign Out
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <hr class="hr-light d-md-none mt-3 mb-4">
                <a class="btn btn-md btn-block dusty-grass-gradient black-text" href="">
                    <i class="far fa-user-plus mr-1"></i>Join
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-md primary-gradient d-none d-md-block m-0 ml-3" href="">
                    <i class="far fa-sign-in-alt mr-1"></i>Sign In
                </a>
            </li>
        </ul>
    </div>
</nav>