{% extends 'layouts/base.html' %}
{% block body %}
<section class="files">
    <div class="row">
        <div class="col-12 col-md-3 col-lg-2 my-4 my-md-0">
            <div id="folders-card" class="card card-cascade narrower">
                <div class="view view-cascade primary-light-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center text-center">
                    <span class="white-text mx-3">Folders</span>
                </div>

                <a class="link" data-toggle="collapse" data-target="#folders-tree">
                    <h6 class="pt-2 pl-3 mb-0">
                        <i class="far fa-hdd mr-2"></i>My Drive
                        <i class="float-right pr-3 fas fa-angle-up rotate-icon"></i>
                    </h6>
                </a>

                <hr class="mb-0">

                <div id="folders-tree" class="treeview-animated collapse show">
                    <h6 class="dropdown-header text-center my-2">No Folders</h6>
                </div>

                <hr class="my-0">

                <a class="link" data-toggle="collapse" data-target="#share-tree">
                    <h6 class="pt-2 pl-3 mb-0 mt-3">
                        <i class="far fa-users mr-2"></i>Shared With Me
                        <i class="float-right pr-3 fas fa-angle-up rotate-icon"></i>
                    </h6>
                </a>

                <hr class="mb-0">

                <div id="share-tree" class="treeview-animated collapse show">
                    <h6 class="dropdown-header text-center my-2">No Shared Folders</h6>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-9 col-lg-7">
            <div id="files-card" class="card card-cascade narrower">
                <div class="view view-cascade primary-light-gradient narrower py-2 mx-4 mb-3">
                    <ol class="breadcrumb justify-content-center align-items-center white-text transparent py-0 m-0">
                        {% if breadcrumbs %}
                            {% for breadcrumb in breadcrumbs %}
                                <li class="breadcrumb-item text-capitalize">
                                    {% if breadcrumb.link %}
                                        <a href="{{ breadcrumb.link }}">{{ breadcrumb.name }}</a>
                                    {% else %}
                                        <span class="white-text">{{ breadcrumb.name }}</span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ol>
                </div>

                <div class="card-body p-0">
                    <form id="action-form" action="" method="post">
                        <div class="table-responsive table-hover w-100">
                            <table id="files-table" class="table table-striped text-center mb-0">
                                <thead class="deep-purple accent-3 white-text">
                                    <th id="select" class="rounded-top-left">
                                        <div class="form-check">
                                            <input id="check-all" class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="check-all"></label>
                                        </div>
                                    </th>
                                    <th id="name" class="th-lg">Name</th>
                                    <th id="sizes" class="d-none d-md-table-cell">Size</th>
                                    <th id="type" class="d-none d-md-table-cell">Type</th>
                                    <th id="shared" class="d-none d-md-table-cell">Shared</th>
                                    <th id="modified" class="d-none d-md-table-cell rounded-top-right">Modified</th>
                                </thead>
                                <tbody>
                                    {% include 'partials/files/_filesRow.html' %}
                                </tbody>
                            </table>
                        </div>
                    </form>

                    {% if files %}
                        <p class="text-center grey-text small font-weight-bold mt-3">End of contents</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="d-none d-lg-block col-3 animated fadeIn">
            <div id="action-card" class="card card-cascade narrower">
                <div class="view view-cascade primary-light-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center text-center">
                    <span class="white-text mx-3">Actions</span>
                </div>

                <div class="card-body card-body-cascade p-0">
                    <div id="action-search" class="input-group px-3 mt-2 mb-3">
                        <div class="md-form md-outline">
                            <input id="action-search-input" class="form-control mdb-autocomplete" type="text" name="search">
                            <button class="mdb-autocomplete-clear deep-purple-text">
                                <i class="far fa-times"></i>
                            </button>
                            <label for="action-search-input">Search</label>
                        </div>

                        <div class="dropdown input-group-prepend">
                            <button class="btn btn-primary btn-md dropdown-toggle m-0" data-toggle="dropdown">
                                <i class="far fa-filter"></i>
                            </button>

                            <div id="action-filters" class="search-filters dropdown-menu dropdown-menu-right px-3">
                                <h6 class="dropdown-header px-0 pb-3">Search Filters</h6>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input filter-all" checked>
                                    <label class="custom-control-label cursor-pointer" for="filter-all">All</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input filter-name" checked>
                                    <label class="custom-control-label cursor-pointer" for="filter-name">Name</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input filter-size" checked>
                                    <label class="custom-control-label cursor-pointer" for="filter-size">Size</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input filter-type" checked>
                                    <label class="custom-control-label cursor-pointer" for="filter-type">Type</label>
                                </div>

<!--                                 if urlRoot === "/files/my-drive" || urlRoot === "/files"-->
<!--                                    <div class="custom-control custom-checkbox">-->
<!--                                        <input type="checkbox" class="custom-control-input filter-shared" checked>-->
<!--                                        <label class="custom-control-label cursor-pointer" for="filter-shared">Shared</label>-->
<!--                                    </div>-->
<!--                                 endif -->

                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input filter-modified" checked>
                                    <label class="custom-control-label cursor-pointer" for="filter-modified">Modified</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-group list-group-flush">
                        <button class="list-group-item list-group-item-action" data-toggle="modal" data-backdrop="false" data-target="#upload-modal">
                            <i class="far fa-cloud-upload-alt mr-1"></i>Upload File(s)
                        </button>
<!--                            <button class="list-group-item list-group-item-action" data-toggle="modal" data-target="#gdrive-upload-modal">-->
<!--                                <i class="fab fa-google-drive mr-1"></i>Upload File(s) to Google Drive-->
<!--                            </button>-->
<!--                            <button class="list-group-item list-group-item-action" data-toggle="modal" data-target="#newfile-modal">-->
<!--                                <i class="far fa-file-plus mr-1"></i>New File-->
<!--                            </button>-->
                        <button class="list-group-item list-group-item-action" data-toggle="modal" data-backdrop="false" data-target="#newfolder-modal">
                            <i class="far fa-folder-plus mr-1"></i>New Folder
                        </button>
                    </div>

                    <hr class="my-0">

                    <div class="animated faster d-none select-actions">
                        <p class="mt-3 mb-1">
                            <small class="px-3 font-weight-bolder grey-text select-count">0 Item Selected</small>
                        </p>

                        <div class="list-group list-group-flush">
<!--                            #ifCond 'urlRoot === "/files/my-drive" || urlRoot === "/files"'-->
<!--                                <button class="google-copy list-group-item list-group-item-action animated faster d-none">-->
<!--                                    <i class="fab fa-google-drive mr-1"></i>Copy to Google Drive-->
<!--                                </button>-->
<!--                            /ifCond-->

                            <div class="single-select animated faster">
                                <form class="download" action="" method="POST">
                                    <button class="download list-group-item list-group-item-action" type="submit">
                                        <i class="far fa-cloud-download-alt mr-1"></i>Download
                                    </button>
                                </form>
<!--                                #ifCond 'urlRoot === "/files/my-drive" || urlRoot === "/files"'-->
                                    <button class="list-group-item list-group-item-action" data-toggle="modal" data-backdrop="false" data-target="#share-modal">
                                        <i class="far fa-share-alt mr-1"></i>Share
                                    </button>
<!--                                    <a class="edit list-group-item list-group-item-action d-none" href="">-->
<!--                                        <i class="far fa-edit mr-1"></i>Edit-->
<!--                                    </a>-->
                                    <button class="list-group-item list-group-item-action" data-toggle="modal" data-backdrop="false" data-target="#rename-modal">
                                        <i class="far fa-i-cursor mr-1"></i>Rename
                                    </button>
<!--                                /ifCond-->
                            </div>

<!--                            ifCond 'urlRoot === "/files/my-drive" || urlRoot === "/files"'-->
<!--                                <button class="list-group-item list-group-item-action move-action" data-toggle="modal" data-target="#move-modal">-->
<!--                                    <i class="fas fa-exchange-alt mr-1"></i>Move-->
<!--                                </button>-->
<!--                                <button class="list-group-item list-group-item-action copy-action" data-toggle="modal" data-target="#copy-modal">-->
<!--                                    <i class="far fa-copy mr-1"></i>Copy-->
<!--                                </button>-->
                                <a class="list-group-item list-group-item-action delete-action" href="/files/delete/{{ files.id }}">
                                    <i class="far fa-trash-alt mr-1"></i>Delete
                                </a>
<!--                            /ifCond-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Copy Modal -->
<div id="copy-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header deep-purple accent-2 white-text">
               <h4 class="modal-title">
                    <i class="far fa-copy mr-1"></i> COPY
               </h4>

                <button type="button" class="close" data-dismiss="modal">
                    <span class="white-text">&times;</span>
                </button>
            </div>

            <form id="copy-form" class="needs-validation" action="{{ postRoot }}/~copy" method="post">
                <div class="modal-body">
                    <div class="input-group mb-0">
                        <div class="input-group-append">
                            <span class="input-group-text border-right-0 rounded-left">Root/</span>
                        </div>

                        <div class="md-form md-outline">
                            <input id="copy-directory-input" class="form-control mdb-autocomplete" type="text" name="directory">
                            <button class="mdb-autocomplete-clear deep-purple-text">
                                <i class="far fa-times"></i>
                            </button>
                            <label for="copy-directory-input">Directory Path</label>

                            <div class="invalid-tooltip">

                            </div>
                        </div>

                        <div class="input-group-prepend">
                            <button class="btn btn-md btn-primary m-0 px-3 py-2 waves-effect" type="submit">
                                <i class="far fa-exchange mr-2"></i> Copy
                            </button>
                        </div>
                    </div>

                    <small class="form-text text-muted">
                        If directory path is empty, it will be copied to root directory. Directory path only allow alphanumeric, space, underscore, dash and forward slash.
                    </small>

                    <input type="hidden" name="fid" value="">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Move Modal -->
<div id="move-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header deep-purple accent-2 white-text">
               <h4 class="modal-title">
                    <i class="far fa-exchange-alt mr-1"></i> MOVE
               </h4>

                <button type="button" class="close" data-dismiss="modal">
                    <span class="white-text">&times;</span>
                </button>
            </div>

            <form id="move-form" class="needs-validation" method="post" novalidate>
                <div class="modal-body">
                    <div class="input-group mb-0">
                        <div class="input-group-append">
                            <span class="input-group-text border-right-0 rounded-left">Root/</span>
                        </div>

                        <div class="md-form md-outline">
                            <input id="move-directory-input" class="form-control mdb-autocomplete" type="text" name="directory">
                            <button class="mdb-autocomplete-clear deep-purple-text">
                                <i class="far fa-times"></i>
                            </button>
                            <label for="move-directory-input">Directory Path</label>

                            <div class="invalid-tooltip">

                            </div>
                        </div>

                        <div class="input-group-prepend">
                            <button class="btn btn-md btn-primary m-0 px-3 py-2 waves-effect" type="submit">
                                <i class="far fa-exchange mr-2"></i> Move
                            </button>
                        </div>
                    </div>

                    <small class="form-text text-muted">
                        If directory path is empty, it will be moved to root directory. Directory path only allow alphanumeric, space, underscore, dash and forward slash.
                    </small>

                    <input type="hidden" name="fid" value="">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- New File Modal -->
<div id="newfile-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header deep-purple accent-2 white-text">
                <h4 class="modal-title">
                    <i class="far fa-file-plus mr-1"></i> NEW FILE
                </h4>

                <button type="button" class="close" data-dismiss="modal">
                    <span class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form class="needs-validation" method="post" novalidate>
                    <div class="input-group mb-0">
                        <div class="md-form md-outline">
                            <input id="new-file-name-input" class="form-control" type="text" name="name">
                            <label for="new-file-name-input">File Name</label>

                            <div class="invalid-tooltip">

                            </div>
                        </div>

                        <span class="input-group-text border-left-0 border-right-0 rounded-0">.</span>

                        <div class="md-form md-outline">
                            <input id="new-file-ext-input" class="form-control mdb-autocomplete" type="text" name="ext">
                            <label for="new-file-ext-input">Extension</label>

                            <div class="invalid-tooltip">

                            </div>
                        </div>

                        <div class="input-group-prepend">
                            <button class="btn btn-md btn-primary m-0 px-3 py-2">
                                <i class="far fa-file-plus mr-1"></i> Create File
                            </button>
                        </div>
                    </div>
                    <small class="form-text text-muted">
                        File name only allow alphanumeric, space, underscore and dash. Extension only allow alphanumeric and dash.
                    </small>

                    <div class="width-height animated faster d-none">
                        <div class="input-group mt-4 mb-0">
                            <div class="md-form md-outline">
                                <input id="new-file-width" class="form-control" type="number" name="width">
                                <label for="new-file-width">Width (px)</label>

                                <div class="invalid-tooltip">

                                </div>
                            </div>

                            <span class="input-group-text border-left-0 border-right-0 rounded-0">
                                <i class="far fa-times"></i>
                            </span>

                            <div class="md-form md-outline">
                                <input id="new-file-height" class="form-control mdb-autocomplete" type="number" name="height">
                                <label for="new-file-height">Height (px)</label>

                                <div class="invalid-tooltip">

                                </div>
                            </div>
                        </div>
                        <small class="form-text text-muted">
                            Width and Height has to be greater then zero.
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- New Folder Modal -->
<div id="newfolder-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header deep-purple accent-2 white-text">
                <h4 class="modal-title">
                    <i class="far fa-folder-plus mr-1"></i> NEW FOLDER
                </h4>

                <button type="button" class="close" data-dismiss="modal">
                    <span class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form class="needs-validation" action="/files/create-folder" method="post" novalidate>
                    <div class="input-group mb-0">
                        <div class="md-form md-outline">
                            <input id="new-folder-name-input" class="form-control" type="text" name="name">
                            <label for="new-folder-name-input">Folder Name</label>

                            <div class="invalid-tooltip">

                            </div>
                        </div>

                        <div class="input-group-prepend">
                            <button class="btn btn-md btn-primary m-0 px-3 py-2" type="submit">
                                <i class="far fa-folder-plus mr-1"></i> Create Folder
                            </button>
                        </div>
                    </div>

                    <small class="form-text text-muted">Folder name only allow alphanumeric, space, underscore and dash.</small>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Rename Modal -->
<div id="rename-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header deep-purple accent-2 white-text">
                <h4 class="modal-title">
                    <i class="far fa-i-cursor mr-1"></i> RENAME
                </h4>

                <button type="button" class="close" data-dismiss="modal">
                    <span class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form class="needs-validation" action="/files/rename" method="post" novalidate>
                    <div class="input-group mb-0">
                        <div class="md-form md-outline">
                            <input id="rename-name-input" class="form-control" type="text" name="rename">
                            <label for="rename-name-input">New Name</label>

                            <div class="invalid-tooltip">

                            </div>
                        </div>

                        <div class="input-group-prepend">
                            <button class="btn btn-md btn-primary m-0 px-3 py-2" type="submit">
                                <i class="far fa-i-cursor mr-2"></i> Rename
                            </button>
                        </div>
                    </div>

                    <small class="form-text text-muted">
                        File name should exclude file extension. And file or folder name only allow alphanumeric, space, underscore and dash.
                    </small>

                    <input type="hidden" name="fid" value="">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Share Link Modal -->
<div id="share-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header deep-purple accent-2 white-text">
                <h4 class="modal-title">
                    <i class="far fa-share-alt mr-1"></i> SHARE
                </h4>

                <button type="button" class="close" data-dismiss="modal">
                    <span class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form class="needs-validation" action="/files/share" method="post" novalidate>
                    <div class="input-group mb-0">
                        <div class="md-form md-outline">
                            <input id="share-user-input" class="form-control mdb-autocomplete" type="text" name="shareUser">
                            <button class="mdb-autocomplete-clear deep-purple-text">
                                <i class="far fa-times"></i>
                            </button>
                            <label for="share-user-input">Username or Email</label>

                            <div class="invalid-tooltip">

                            </div>
                        </div>

                        <div class="input-group-append">
                            <button class="btn btn-md btn-primary m-0 px-3 py-2" type="submit">
                                <i class="far fa-share-alt mr-1"></i> Share
                            </button>
                        </div>
                    </div>

                    <small class="form-text text-muted">
                        Accepts registered user's username, email or username (email) format.
                    </small>

                    <input type="hidden" name="fid" value="">
                </form>

                <div class="share-users d-none">
                    <hr>

                    <h6 class="card-title pt-2">
                        <i class="far fa-users mr-2"></i>Shared With
                    </h6>

                    <form class="needs-validaton text-right" action="/files/unshare" method="post" novalidate>
                        <div class="table-fixed table-hover w-100 mb-3">
                            <table id="share-users-table" class="table table-striped text-center mb-0">
                                <thead class="deep-purple accent-3 white-text">
                                    <th id="share-select" class="rounded-top-left">
                                        <div class="form-check">
                                            <input id="check-all-share-user" class="form-check-input" type="checkbox">
                                            <label class="form-check-label" for="check-all-share-user"></label>
                                        </div>
                                    </th>
                                    <th id="share-name">Name</th>
                                    <th id="share-email" class="rounded-top-right">Email</th>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <button class="btn btn-md btn-danger animated faster d-none" type="submit">
                            <i class="fas fa-user-times mr-2"></i>Unshare with selected user(s)
                        </button>

                        <input type="hidden" name="fid" value="">
                    </form>
                </div>
            </div>

            <div class="modal-footer d-block">
                <form class="needs-validation d-block d-md-flex flex-fill" method="post" novalidate>
                    <div class="flex-md-fill mb-3 mt-0 mb-md-auto mt-md-auto text-left">
                        <i class="far fa-unlink fa-sm border border-primary rounded-circle p-2 mr-2"></i>
                        <span class="align-middle">Share link not created</span>
                    </div>

                    <div class="flex-md-fill text-left text-md-right">
                        <button class="btn btn-md btn-primary m-0" type="submit">
                            <i class="far fa-link mr-2"></i>Create Share Link
                        </button>
                    </div>

                    <input type="hidden" name="fid" value="">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Upload Files Modal -->
<div id="upload-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header deep-purple accent-2 white-text">
                <h4 class="modal-title">
                    <i class="far fa-cloud-upload-alt mr-1"></i> UPLOAD FILE(S)
                </h4>

                <button type="button" class="close" data-dismiss="modal">
                    <span class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form class="files-upload" action="/files/upload?path={{ files.fullPath }}" method="post" enctype="multipart/form-data">
                    <div class="wrapper">
                        <div class="card-text">
                            <i class="fas fa-5x fa-file"></i>
                            <p class="font-weight-bolder">No File Uploaded</p>
                        </div>
                        <div class="preview">
                            <img src="{{ url_for('static', filename='/img/placeholder.jpg') }}">
                            <div class="infos d-none">
                                <div class="infos-inner">
                                    <p class="filename"></p>
                                    <a type="button" class="btn btn-sm btn-success">Change file</a>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="remove btn btn-sm btn-danger d-none">Remove</button>
                    </div>
                    <input type="file" name="poster" multiple />
                    <p class="text-center m-0 mt-3">
                        <small class="form-text text-muted">
                            You can only upload up to a maximum of 100mb.
                        </small>
                        <small class="form-text text-danger font-weight-500">
                            * If uploaded file or files exist in the current directory, that file or files will be overwritten.
                        </small>
                    </p>
                    <button class="btn btn-block btn-success">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Upload Google Drive Modal -->
<!--<div id="gdrive-upload-modal" class="modal fade" tabindex="-1" role="dialog">-->
<!--    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header deep-purple accent-2 white-text">-->
<!--                <h4 class="modal-title">-->
<!--                    <i class="fab fa-google-drive mr-1"></i> UPLOAD FILE(S) TO GOOGLE DRIVE-->
<!--                </h4>-->

<!--                <button type="button" class="close" data-dismiss="modal">-->
<!--                    <span class="white-text">&times;</span>-->
<!--                </button>-->
<!--            </div>-->

<!--            <div class="modal-body">-->
<!--                <form class="files-upload" action=" postRoot /~gdriveupload" method="post" enctype="multipart/form-data">-->
<!--                    <input type="file" name="files" multiple />-->
<!--                    <p class="text-center m-0 mt-3">-->
<!--                        <small class="form-text text-muted">-->
<!--                            You are can only upload up to a maximum of 5mb per file.-->
<!--                        </small>-->
<!--                        <small class="form-text text-danger font-weight-500">-->
<!--                            * If uploaded file or files exist in the current directory, that file or files will be overwritten.-->
<!--                        </small>-->
<!--                    </p>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<script src="{{ url_for('static', filename='/js/previewFile.js') }}"></script>
<script src="{{ url_for('static', filename='/js/files.js') }}"></script>
{% endblock %}
